<li>
	{{name}}

	{{#if sleep}}
	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		Eat It!
	</button>
	{{/if}}
	{{!-- <button class="delete" data-id="{{id}}">Delete!</button> --}}
</li>
